.App-wrapper {
  margin: 0 auto;
  border: solid black 1px;
  display: grid;
  grid-template-rows: 1fr 90vh;
  grid-template-columns: 10fr 1fr;
  grid-gap: 5px;

  grid-template-areas:
    "h h"
    "m s";
}
